@import '../../styles/vars';
@import '../../styles/fonts';

.project {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 350px;
  padding: 16px;

  border-radius: 20px;

  background-color: $slate-gray;
  text-decoration: none;

  @media (min-width: 768px) {
    width: 350px;
  }

  @media (min-width: 1024px) {
    width: 325px;
  }

  &__image {
    object-fit: cover;
    height: 250px;
    border-radius: 20px;
  }

  &__title {
    margin-top: 8px;
    width: max-content;

    font-family: "Poppins SemiBold";

    color: $bone;

    @media (min-width: 1024px) {
      font-size: 1.4em;
    }
  }

  &__link {
    margin-top: 8px;
    font-family: "Poppins Medium";
    text-decoration: none;

    color: $bone;
  }
}