@import '../../styles/vars';
@import '../../styles/fonts';

.project {
  // position: relative;
  // right: -100%;

  display: flex;
  flex-direction: column;

  width: 350px;
  padding: 16px;

  border-radius: 20px;

  background-color: $slate-gray;
  text-decoration: none;

  @media (min-width: 768px) {
    width: 350px;
  }

  @media (min-width: 1024px) {
    width: 325px;
  }

  &__image {
    position: relative;

    object-fit: cover;
    height: 250px;
    border-radius: 20px;
  }

  &__title {
    position: relative;

    margin-top: 8px;
    padding: 4px 8px;
    width: max-content;

    font-family: "Poppins SemiBold";
    border-radius: 10px;

    color: $bone;
    background-color: rgba(0, 0, 0, 0.342);

    @media (min-width: 1024px) {
      font-size: 1.4em;
    }
  }

  &__type {
    margin-top: 4px;
    font-family: "Poppins Medium";
    text-decoration: none;

    color: $bone;
  }
}