@import '../../styles/vars';

.homepage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 16px;

    color: $isabelline;
  }

  &__gif {
    transform: rotate(30deg);

    width: 20px;
    height: 20px;

    @media (min-width: 768px) {
      width: 30px;
      height: 30px;
    }

    @media (min-width: 1024px) {
      width: 42px;
      height: 42px;
    }
  }

  &__title {
    position: relative;
    left: 0;
    font-size: 1.80em;
    font-weight: 100;
    letter-spacing: 8px;

    transition: all 0.5s;

    @media (min-width: 768px) {
      font-size: 4em;
    }

    @media (min-width: 1024px) {
      font-size: 6em;

      &:hover {
        left: 25%;
      }
    }

    &--about {
      display: none;
    }

    &-container {
      position: relative;
    }

    &-link {
      text-decoration: none;
      color: $isabelline;
    }
  }

  &__subtitle {
    margin: 0;

    font-size: 1em;
    font-weight: 400;
    letter-spacing: 4px;

    @media (min-width: 768px) {
      font-size: 1.3em;
    }

    @media (min-width: 1024px) {
      font-size: 2em;
    }
  }

  &__link {
    margin-top: 24px;

    border: 2px solid #E5E4E2;

    text-decoration: none;
    
    font-weight: 700;
    letter-spacing: 1px;

    @media (min-width: 768px) {
      margin-top: 24px;
      padding: 16px 24px;

      border-radius: 40px;

      font-size: 1.25em;
    }

    @media (min-width: 1024px) {
      margin-top: 32px;
      padding: 24px 32px;

      border-radius: 60px;

      font-size: 1.5em;

      background-color: unset;
      color: #E5E4E2;
    }
  }
}

.btn-grad {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;

  @media (min-width: 1024px) {
    &:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
    }
  }
}


