.technology {
  padding: 80px 112px 130px;

  @media (max-width: 1024px) {
    padding: 80px 24px 130px;
  }

  @media (max-width: 700px) {
    padding: 80px 16px 130px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (max-width: 700px) {
      gap: 40px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 40px;
    line-height: 150%;

    color: #E3E4E68C;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 700px) {
      font-size: 24px;
    }

    &--strong {
      color: #E3E4E6;
    }
  }

  &__images {
    padding: 16px 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    height: 100px;

    color: #E3E4E68C;

    @media (max-width: 1024px) {
      height: 80px;
    }

    @media (max-width: 700px) {
      height: 60px;
    }
  }
}