.projects-list {
  margin: 32px 0 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;

  list-style: none;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;
  }
}